.swiper-slide{
	display: flex;
	justify-content: center;
	
}
.destinationsSlider{
	display: flex;
	justify-content: center;

	width: box-sizing;
	overflow: hidden;
	
	
}
.destinationsSlider p{
	width: 255px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #31609f;
}
.destinationsSlider h3{
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 20px;
   color: #4eb5e6;
}
.destinationsSlider h2{
   font-family: "Lato", sans-serif;
   font-weight: 500;
   font-size: 28px;
   color: #31609f;
}