body{
    margin: 0;
}

.logo{

    position: sticky;
    background: rgba(255, 255, 255, .8);
    top: 0;
    z-index: 999;

    opacity: 92;
    width: 100%;
    height: 68px;
    box-shadow: 0 0 50px rgba(73,70,77,0.08);

}
.logo-section{
    display: flex;



}
.logo-box{

    display: flex;
    justify-content: center;
    height: 65px;
    margin: 0;
}

.logo-text{


    width: 600px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
    font-weight: bold;
    padding-top: 5px;
}
.logo-text a{
    height: 56px;
    font-family: 'Montserrat', sans-serif;
    /*line-height: 60px;*/
    font-weight: 400;
    align-items: center;

    display: flex;
    color: #5881B8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
.logo-text a:hover {
    color: #4CB8E0;
    cursor: pointer;
    border-bottom: 4px solid #4CB8E0;


}
.logo-email{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 273px;
}
.logo-email button{
    width: 84px;
    height: 40px;
    background: none;
    font-family: 'Lato', sans-serif;
    line-height: 60px;
    font-weight: 400;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #5881B8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    border: solid 1px #4CB8E0;
    border-radius: 3px;
}
.logo-email button:hover {
    color: white;
    cursor: pointer;
    background: #4CB8E0;


}
.logo-img{
  display: flex;
  align-items: start;
  width: 273px;
}
.logo-img img{
    width: 177px;
    height: 60px;
}
@media (max-width: 400px) {
.logo{
    display: none;
}
}
@media (max-width: 1000px) {
.logo{
    display: none;
}
}