.footer{
    height: 200px;
    background: #1F3D66;
    padding: 40px 0 0 0;
}
.footerImg img{
    width: 200px;

}
.footerAddress h2{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #f5f6f7;
}
.footerAddress p{

    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #7fb5de;
}
.footerBox{
    height: 200px;
    
    display: flex;
    
    justify-content: space-around;
}
.footerContact{
  display: inline;
}
.footerContact h2{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #f5f6f7;
    text-transform: uppercase;
}
.footerContact a{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #4cb8e0;
    text-decoration: none;
}
.socialContacts i{
    size: 24px;
    color: white;
    width: 20px;
    height: 20px;
}
.socialContacts{
    height: 20px;
}
