.individual{
	display: flex;
	

}
.individual-left{
	/*width: 500px;*/
	padding: 0 30px;

}

.individual-right{
   /*width: 500px;*/
   	padding: 80px 30px 0 30px;
}

.individual h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	color: #3262a1;
	font-weight: 700;
}
.individual span{
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	color: #4cb8e0;
	font-weight: 100;
}
.individual h2{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #4cb8e0;
}
.individual p{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	size: 18px;
	font-weight: 300;
	line-height: 30px;
	color: #31609f;
}


@media (max-width: 768px) {
 .individual{
	display: inline-block;
	 margin: 30px 0;
    width: 100%;
}
.individual-left{
	
	padding: 0 10px;
}
.individual-right{
	padding: 10px 10px;
	
}
 }
@media (min-width: 768px) and (max-width: 1200px) { 
.individual{
	display: inline-block;
	 margin: 30px 0;
    width: 100%;
}
 }
@media (min-width: 1200px) {
.individual{
	display: flex;
    margin: 80px 170px;
    width: 100%;
}	

}