body{
    margin: 0;
}

.logo{

    position: sticky;
    background: rgba(255, 255, 255, .8);
    top: 0;
    z-index: 999;

    opacity: 92;
    width: 100%;
    height: 68px;
    box-shadow: 0 0 50px rgba(73,70,77,0.08);

}