.secondSlider{

	overflow: hidden;
	margin: 8% 2%;


}

.secondSlider p{
	width: 255px;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #31609f;
}
.secondSlider h3{
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 20px;
   color: #4eb5e6;
}
.secondSlider h2{
   font-family: "Lato", sans-serif;
   font-weight: 500;
   font-size: 28px;
   color: #31609f;
}

.secondSliderText{
	display: flex;
	align-items: center;

}
.secondSliderText h2{
	margin: 0 30px;
   font-family: "Lato", sans-serif;
   font-weight: 700;
   font-size: 22px;
   color: #3262A1;
}
.secondSliderText hr{
	 height: 1px;
    width: 100px;
    color: #3261A0;
    background-color: #4FB5EB;
    border: none;
   
}
.swiper2{
	overflow: hidden;
	margin: 50px 160px;

}
.swiper2 h3{
	margin: 20px 0;

}
.swiper2 p{
	
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 14px;
   color: #31609f;	
   line-height: 25px;


}
@media (max-width: 768px) {

 .secondSlider{
 	
	width: 80%;
	height: 300px;
	margin: 5% 10%;
}
.swiper2{
	display: none;

} 
.swiper12{
	display: none;
 }
.secondSliderText hr{
	 display: none;
}
.secondSliderText h2{
	margin: 0 0 30px 0;
	

}


 }
@media (min-width: 768px) and (max-width: 1200px) { 

.secondSlider{
	
	height: 400px;
	margin: 0 10%;
	
}
.secondSliderText hr{
	 display: none;
}
.swiper2{
	display: none;

}
.swiper12{
	
  overflow: hidden;
  margin: 50px 0px;
  height: 350px;

}
.swiper12 h3{
	margin: 20px 0;

}
.swiper12 p{
	line-height: 30px;

	
}
.swiper7{
	display: none;
 }
 .swiper2{
	display: none;
 }
}
@media (min-width: 1200px) {
.secondSlider{
	
	
}
.swiper7{
	display: none;
 }
 .swiper12{
	display: none;
 }
} 
