{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/about_kg_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/about_kg_response.css' %} "/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
{% endblock %}
{% block content %}
    <title>About kg</title>
    <section class="about_author container">
        <div class="blocks_for_first_section">
            {{ about_kg.title }}
{#            <h1><strong>ÜBER</strong> KIRGISISTAN</h1>#}
            {{ about_kg.text }}
        </div>
    </section>
    <section class="directions">
        <div class="container">
            <h2>
                <div class="linee"></div>
                REISEZIELE
            </h2>
            <div class="grid_directions">
                <div class="cell border_bottom border_right">
                    <div>
                        <img
                                src="{% static '/assets/utka.png' %}"
                                alt=""
                        />
                    </div>
                    <h5>GEWÄSSER</h5>
                </div>

                <div class="cell border_bottom border_right">
                    <div>
                        <img
                                src="./assets/mountain.png"
                                alt=""
                        />
                    </div>
                    <h5>BERGE</h5>
                </div>
                <div class="cell border_bottom border_right">
                    <div>
                        <img
                                src="./assets/mountain2.png"
                                alt=""
                        />
                    </div>
                    <h5>SCHLUCHTEN</h5>
                </div>
                <div class="cell border_bottom">
                    <div>
                        <img
                                src="./assets/sckigebid.png"
                                alt=""
                        />
                    </div>
                    <h5>SKIGEBIT</h5>
                </div>
                <div class="cell border_right">
                    <div>
                        <img
                                src="./assets/three.png"
                                alt=""
                        />
                    </div>
                    <h5>NATIONALPARKS</h5>
                </div>
                <div class="cell border_right">
                    <div>
                        <img
                                src="./assets/zdanie.png"
                                alt=""
                        />
                    </div>
                    <h5>KULTURELL</h5>
                </div>
                <div class="cell border_right">
                    <div>
                        <img
                                src="./assets/zdanie2.png"
                                alt=""
                        />
                    </div>
                    <h5>UNESCO</h5>
                </div>
                <div class="cell">
                    <div>
                        <img
                                src="./assets/zdanie3.png"
                                alt=""
                        />
                    </div>
                    <h5>STÄDTE</h5>
                </div>
            </div>
            <h6 class="alle">ALLE ZIELE ANZEIGEN</h6>
        </div>
    </section>
    <section class="slider">
        <div class="container_for_slider">
            <div
                    id="carouselExampleCaptions"
                    class="carousel slide"
                    data-bs-ride="carousel"
                    data-bs-interval="3000"
            >
                <div class="carousel-indicators">
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"
                    ></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img
                                src="./assets/photo_slider3.jpg"
                                class="d-block w-100 fotos"
                                alt="..."
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Метка первого слайда</h5>
                            <p>
                                Некоторый репрезентативный заполнитель для
                                первого слайда.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img
                                src="./assets/photo_slider1.jpg"
                                class="d-block w-100 fotos"
                                alt="..."
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Метка второго слайда</h5>
                            <p>
                                Некоторый репрезентативный заполнитель для
                                второго слайда.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img
                                src="./assets/photo_slider2.jpg"
                                class="d-block w-100 fotos"
                                alt="..."
                        />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Метка третьего слайда</h5>
                            <p>
                                Некоторый репрезентативный заполнитель для
                                третьего слайда.
                            </p>
                        </div>
                    </div>
                </div>
                <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev"
                >
						<span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                        ></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next"
                >
						<span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                        ></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
    </section>
    <section class="section_phone container">
        <div class="phone_img">
            <img src="./assets/phone.jpg" alt=""/>
        </div>
        <div class="description">
            <h6>
                KONTAKTIEREN SIE UNS
                <div class="line"></div>
            </h6>
            <h1><strong>JEDERZEIT </strong><span>& ÜBERALL</span></h1>
            <p>
                Ist es uns gelungen Ihr Interesse an Kirgistan zu wecken? Dann schicken Sie uns eine Mail mit ihren
                Fragen oder Wünschen. Gerne senden wir ihnen ein unverbindliches Angebot. Wir freuen uns auf Sie und
                heißen Sie herzlich willkommen!
            </p>
        </div>
    </section>
{% endblock %}