{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/about_us_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_us_response.css' %} ">
    <link rel="stylesheet" href="{% static 'css/home/blog_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/blog_response.css' %}">
{% endblock %}
{% block content %}

    <section class="container">
        {% for about_us in about_us %}
            <div class="about_author">
                <div class="blocks_for_first_sec">
                    {{ about_us.title | safe }}
                </div>
            </div>
        {% endfor %}
        <div class="animation">
            {% for about_us in about_us %}
                {{ about_us.text | safe }}
            {% endfor %}
        </div>
        <div class="btn_wrapper">
            <button class="contackt_btn">KONTAKT INFO</button>
        </div>
    </section>
    <section class="slider ">
        <h1><strong>KIRGISTAN</strong> REISEN</h1>
        <div class="container_for_slider">
            <div
                    id="carouselExampleCaptions"
                    class="carousel slide"
                    data-bs-ride="carousel"
                    data-bs-interval="3000"
            >
                <div class="carousel-indicators">
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"
                    ></button>
                </div>
                <div class="carousel-inner">
                    {% for slider in sliders %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                            <img
                                    src="{{ slider.img.url }}"
                                    class="d-block w-100 fotos container"
                                    alt="..."
                            />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ slider.title }}</h5>
                                <p>
                                    {{ slider.text }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev"
                >
						<span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                        ></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next"
                >
						<span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                        ></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
    </section>
    <section class="section_phone container">
        <div class="phone_img">
            <img src="./assets/phone.jpg" alt=""/>
        </div>
        <div class="description">
            {% for contact in contact %}
                <h6>
                    KONTAKTIEREN SIE UNS
                    <div class="line"></div>
                </h6>
                <h1>{{ contact.title | safe }}</h1>
                <p>
                    {{ contact.text| safe }}
                </p>
            {% endfor %}
            <div class="btn_wrapper">
                <button class="contackt_btn">EMAIL SENDEN</button>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/burger.js' %}"></script>
{% endblock %}