{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %} ">
    {% block styles %}{% endblock %}

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
</head>
<body>
{% block content %}{% endblock %}

<div class="bg_footer">
    <footer class="container">
        <div class="footer_display">
            <div class="block_for_footer_text block_img">
                 <h1 style="color: #089CD6;">KYRGYZ LAND</h1>
            </div>
            {% for contact in contact%}
            <div class="block_for_footer_text">
                <h4>POSTAL ADDRESS</h4>
                <p>
                    {{ contact.address }} <br/>
                    {{ contact.index }} <br/>
                    Republic of Kyrgyzstan <br/>
                </p>
            </div>
            <div class="block_for_footer_text">
                <h4>CONTACT</h4>
                <p>
                    {{ contact.phone_1 }} <br/>
                    {{ contact.email }} <br/>
                </p>
                <div class="block_icons">
                    <a href="https://www.youtube.com/">
                        <i class="icon_you_tube icons"></i>
                    </a>
                    <a href="https://web.whatsapp.com/">
                        <i class="icon_whats_app icons"></i>
                    </a>
                    <a href="https://www.facebook.com/">
                        <i class="icon_facebook icons"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </footer>
</div>
{% block scripts %}{% endblock %}
<script src="{% static 'js/script.js' %}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</body>
</html>
