{% extends 'base.html' %}
{% load static %}

    {% block styles %}
    <link rel="stylesheet" href={% static  "css/blog_style.css" %}/>
    <link rel="stylesheet" href={% static "css/blog_response.css" %}/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% endblock %}
{% block content %}
<div class="container">
    {% for blok in blocks %}
        <div>
            <img
                    class="img_blockpost"
                    src="{{ blok.img.url }}"
                    alt=""
            />
            <b
            ><h2 class="zogolovok">
                <a href="{% url 'blog_detail' blok.pk %}">{{ blok.title }}</a>
            </h2></b
            >
            <p class="text">
                {{ blok.text |safe | slice:"300"  }}...
            </p>
            <button class="btn">
                <a href="{% url 'blog_detail' blok.pk %}">WEITERLESEN</a><span>→</span>
            </button>
        </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">

        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
             {% for p in paginator.page_range %}
            <a href="?page={{ p }}">{{ p }}</a>
        {% endfor %}
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}
