{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="stylesheet" href="../css/home/main.css"> -->

    <link rel="stylesheet" href="{% static 'css/home/anytime.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact/contact.css' %}">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/individual.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/firstSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/secondSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/thirdSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/anytime.css' %}">
    <link rel="stylesheet" href="{% static  'css/destinations/destinationsSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/blog_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home/blog_response.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home/firstSliderAnimations.css' %}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="anytime">
    <div class="anytimeImg">
        <img src="" alt=""/>
    </div>
    <div class="anytimeText">
    <div class="anytimeTextHr">
        <h2>contact us</h2>
        <hr/>
    </div>
    <div class="anytimeTextTwo">
        {% for contact in contact %}
        <h3>{{ contact.title | safe }}</h3>
        <p>{{ contact.text | safe }}</p>
    </div>
<button>send e-mail</button>
        {% endfor %}

</div>

</div>
<div class="contactLine">
    <div class="contactBox">
        <div class="contactNumber">
            <div class="contactNumberIcon">
                <img src="../static/images/icon-11-ogeqf8bkesugg0gxmbij2p80ldf4aep2s4p2bqvtnk.png" alt="">
            </div>
            <div>
                <h2>0996<span>551718899</span></h2>
                <p>info & date</p>
            </div>
        </div>
        <div class="contactWhatsApp">
            <div class="contactWhatsAppIcon">
                <img src="../static/images/whatsapp-ogeqhpm8j4r7go0vxw2eb03l9tlibgqamaepemhdse.png" alt="">
            </div>
            <div>
                <h2>0996<span>551718899</span></h2>
                <p>whatsapp me</p>
            </div>
        </div>
        <div class="contactEmail">
            <div class="contactEmailIcon">
                <img src="../static/images/icon-14-ogeqf8bkpbr2bjv78ln0qgcf5eswgm6yrq2tprtyt2.png" alt="">
            </div>
            <div>
                <h2>info@kirgistan-reisen.com</h2>
                <p>email me</p>
            </div>
        </div>
    </div>
</div>
<div class="emailSend">
    <div class="emailSendDrop">
        <hr/>
        <h2>DROP US A LINE</h2>
    </div>
    <div class="emailSendForm">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <input type="email" class="form-control bg-light border-0" id="inputEmail4" placeholder="Surname">
                </div>
                <div class="form-group col-md-6">

                    <input type="password" class="form-control bg-light border-0" id="inputPassword4"
                           placeholder="E-mail">
                </div>
            </div>
            <div class="form-group">

                <textarea class="form-control bg-light border-0" id="exampleFormControlTextarea1" rows="5"
                          placeholder="News..."></textarea>
            </div>

            <button type="submit" class="btn btn-primary">SEND</button>
        </form>
    </div>
</div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/burger.js' %}"></script>
{% endblock %}