{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="stylesheet" href="../css/home/main.css"> -->
    <link rel="stylesheet" href="{% static 'css/destinations/destinationsSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/destinations/destinationsFilter.css' %}">
    <link rel="stylesheet" href="{% static 'css/destinations/destinationsGallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/blog_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home/blog_response.css' %}"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% endblock %}
{% block content %}
    <div class="destinationsSlider">
        <div class="swiper4">
            <div class="swiper-wrapper">
                {% for slider in slider1 %}
                    <div class="swiper-slide">
                        <div>
                            <a href="{% url 'detail_w' slider.pk %}"><img src="{{ slider.icon.url }}"></a>
                            <a style="text-decoration: none;" href="{% url 'detail_w' slider.pk %}">
                                <h3>{{ slider.title }}</h3></a>
                            <p>{{ slider.description |safe | slice:"150" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination2">

            </div>

        </div>
        <div class="swiper6">
            <div class="swiper-wrapper">
                {% for slider in slider1 %}
                    <div class="swiper-slide">
                        <div>
                            <a href="{% url 'detail_w' slider.pk %}"><img src="{{ slider.icon.url }}"></a>
                            <a style="text-decoration: none;" href="{% url 'detail_w' slider.pk %}">
                                <h3>{{ slider.title }}</h3></a>
                            <p>{{ slider.description |safe | slice:"150" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination2">

            </div>

        </div>
        <div class="swiper11">
            <div class="swiper-wrapper">
                {% for slider in slider1 %}
                    <div class="swiper-slide">
                        <div>
                            <a href="{% url 'detail_w' slider.pk %}"><img src="{{ slider.icon.url }}"></a>
                            <a style="text-decoration: none;" href="{% url 'detail_w' slider.pk %}">
                                <h3>{{ slider.title }}</h3></a>
                            <p>{{ slider.description |safe | slice:"150" }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="swiper-pagination2">

            </div>

        </div>
    </div>

    <div class="destinationsFilter">
        <div class="destinationsBox">
            {% for category in categories %}
                <a href="{% url 'category' category=category.name %}" class="btn" style="color: #ffffff">{{ category.name }}</a>
            {% endfor %}
        </div>

    </div>


    <div class="destinationsGallery">
        {% for direction  in directions %}
            <div>
                <div class="destinationsGalleryBox">
                    <img src="{{ direction.img.url }}" alt="">
                    <a href="{% url 'directions' direction.pk %}">
                        <div class="destinationsTextOne">
                            <h2
                                    style="text-align: center;">{{ direction.title }}</h2>
                            <p style="text-align: center;">{{ direction.category }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/burger.js' %}"></script>
{% endblock %}

