<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static-web/css/home/main.css">
    <link rel="stylesheet" href="../static-web/css/home/home.css">
    <link rel="stylesheet" href="../static-web/css/home/individual.css">
    <link rel="stylesheet" href="../static-web/css/home/secondSlider.css">
    <link rel="stylesheet" href="../static-web/css/home/thirdSlider.css">
    <link rel="stylesheet" href="../static-web/css/home/anytime.css">
    <link rel="stylesheet" href="../static-web/css/home/footer.css">
    <link rel="stylesheet" href="../static-web/css/destinations/destinationsSlider.css">


   <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
            <div class="logo">

                <div class="logo-box">
                    <div class="logo-img">
                        <img src="images/logo-ns-1.png"/>

                    </div>

                    <div class="logo-section">

                        <div class="logo-text">
                            <a href="main.html">start</a>
                            <a to="">about Us</a>
                            <a href="html/destinations.html">destinations</a>
                            <a to="">gallery</a>
                            <a to="/contact">contact</a>

                        </div>
                    </div>
                    <div class="logo-email">
                        <button>email</button>
                    </div>
                </div>

            </div>
            <div class="firstSlider">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <img class="swiper-slide" src="images/Kyrgyzstan-3.jpg">
                  <img class="swiper-slide" src="images/Kyrgyzstan-canyons.jpg">
                </div>
                <div class="swiper-pagination"></div>
              </div>

            </div>
            <div class="individual">
                  <div class="individual-left">
                    <h1>KYRGYSTAN <span>TRAVEL</span></h1>
                    <h2>Individuality is very important to Kyrgyzstan travel! We plan           individual trips across Kyrgyzstan for you or with you.</h2>
                    <p>My name is Talant Asemov. I arrange trips to and through Kyrgyzstan. With and for you, together we will make your dream trip come true. Our Kyrgyzstan trips can be organized for individual travelers as well as for groups. We also offer family trips with discounts for children. For the majority of trips, you can choose the start and length of the trip yourself.</p>

                  </div>
                  <div class="individual-right">
                    <p>We can fulfill many wishes with off-road vehicles and buses. If you arrive with your own motorbike or mountain bike, we offer the service of escort vehicles or organize your overnight stay.

                    Whether you want to go horseback riding on the famous Kyrgyz horses, or prefer to relax while fishing, mountaineering or study the culture... enjoy the country, we'll take care of the rest! (<a>Current travel advice Kyrgyzstan</a>)</p>
                  </div>

            </div>
            <div class="secondSlider">
              <h2>WHAT SHOULD I DO</h2>
              <div class="swiper2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div>
                       <img src="icons/jailoo-ogeqh7ra95rd2iupwqktkexn90dhj7bsbdwdzu8a9s.png">
                       <h3>Jailoo excursion</h3>
                       <p>A Jailoo excursion offers the full experience of Kyrgyz nomadic culture. Nights in the pristine countryside are incredibly peaceful and tranquil.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img  src="icons/koumiss-ogeqhdebe5z306mizt0kzdietblotdy6c5tavhzx8g.png">
                       <h3>Kumy's Cure</h3>
                       <p>Kumys is a result of the fermentation of mare's milk. It is obtained from our pastures and is so healthy that doctors recommend it in the treatment of diseases.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img  src="icons/food-ogeqh4xronni3oytd7cxuxn9gurdw40lazxxk0cgsg.png">
                       <h3>Eat Drink</h3>
                       <p>The traditional Kyrgyz cuisine is characterized by meat and dairy products from species-appropriate husbandry with a natural appearance and excellent taste.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img src="icons/eagle-ogeqh24945jn4v2wto525gcvop5a90pealzh46gnb4.png">
                       <h3>eagle hunt</h3>
                       <p>Kyrgyzstan is one of the few places in the world where hawking with raptors is still practiced. A special experience just by watching.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img src="icons/hiking-ogeqh4xse3caywuam1tsjc6wna3oz44tm0m6qwmzes.png">
                       <h3>Hiking & Tracking</h3>
                       <p>Kyrgyzstan is an outdoor enthusiast's paradise. It offers an unbelievable number of possibilities for alpine mountaineering or trekking from easy to extreme.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img src="icons/mountaineering-ogeqhg7tyo2xz0ifjc8gousslh7sgh9dcjrrbbvqps.png">
                       <h3>Rockclimbing</h3>
                       <p>About 95% of Kyrgyzstan's territory is covered by mountain ranges, the Tien Shan and the Pamir. They form the largest contiguous mountain system in the world.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img src="icons/cycling-ogeqh249tl8g02ye2ilwtuwiv4hlc0tmlmnqb2r5xg.png">
                       <h3>To go biking</h3>
                       <p>The most popular exploration method is cycling. Lovers of extreme sports and long mountain bike tours will appreciate the potential.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img src="icons/jeep-ogeqh7ra95rd2iupwqktkexn90dhj7bsbdwdzu8a9s.png">
                       <h3>Jeep and engine</h3>
                       <p>Approximately 70% of roads in Kyrgyzstan are unpaved. This makes the country an ideal place for off-road experiences with our jeep and motorbike tours.</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div>
                       <img src="icons/horse-ogeqh4xronni3oytd7cxuxn9gurdw40lazxxk0cgsg.png">
                       <h3>horseback riding tours</h3>
                       <p>Riding trails lead through landscapes with untouched mountain lakes, beautiful spruce forests and alpine meadows in high mountain valleys.</p>
                     </div>
                  </div>
                </div>
                <div class="swiper-pagination2"></div>
              </div>

            </div>
            <div class="thirdSlider">
               <div class="swiper3">
                 <div class="swiper-wrapper">
                   <div class="swiper-slide">
                     <div class="thirdSliderBox">
                       <img src="images/ALAI-VALLEY-670x446.jpg">
                     </div>
                     <div class="thirdSliderText">
                          <h3>Jailoo excursion</h3>
                          <p>1 Jailoo .</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="thirdSliderBox">
                       <img src="images/Ak-Sai-Valley-1200x799.jpg">
                     </div>
                     <div class="thirdSliderText">
                          <h3>Jailoo excursion</h3>
                          <p>2 Jailoo .</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="thirdSliderBox">
                       <img src="images/Chunkurchak-Ski-Resort-1200x799.jpg">
                     </div>
                     <div class="thirdSliderText">
                          <h3>Jailoo excursion</h3>
                          <p>3 Jailoo .</p>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="thirdSliderBox">
                       <img src="images/Eki-Naryn-Valley-1200x799.jpg">
                     </div>
                     <div class="thirdSliderText">
                          <h3>Jailoo excursion</h3>
                          <p>4 Jailoo .</p>
                     </div>
                  </div>
                 </div>
               </div>

            </div>
            <div class="anytime">
                <div class="anytimeImg">
                    <img src="" alt=""/>
                </div>
                <div class="anytimeText">
                    <h2>ANYTIME <span>& ANYWHERE</span></h2>
                    <p>Have we managed to arouse your interest in Kyrgyzstan? Then send us an email with your questions or requests. We would be happy to send you a non-binding offer. We look forward to seeing you and warmly welcome you!</p>
                </div>

            </div>
            <div class="footer">
              <div class="footerBox">
               <div class="footerImg">
                   <img src="images/white-350-1.png" alt=""/>
               </div>
               <div class="footerAddress">
                   <h2>POSTAL ADDRESS</h2>
                   <p>Prospekt Mira 61a (Ap587)</p>
                   <p>720044 Bishkek</p>
                   <p>Republic of Kyrgyzstan</p>
               </div>
               <div class="footerContact">
                 <div>
                     <h2>contact</h2>

                       <a href="tel:+996551718899">0996 55 171 8899</a>
                       </br>

                       <a href="mailto:info@kirgistan-reisen.com">info@kirgistan-reisen.com</a>
                 </div>
                 <div class="socialContacts">
                   <i class="fas fa-clock"></i>
                 </div>
               </div>
              </div>
            </div>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script  src="../static-web/js/app.js"></script>
</body>
</html>
