{% extends 'base_2.html' %}
{% load static %}
{% block styles %}
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/individual.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/firstSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/secondSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/thirdSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/anytime.css' %}">
    <link rel="stylesheet" href="{% static  'css/destinations/destinationsSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/blog_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/blog_response.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/firstSliderAnimations.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="logoBox">

        <header class="container">
            <div class="header_logo_container">
                <h1 style="color: #089CD6;">KYRGYZ LAND</h1>
            </div>
            <div class="header_burger">
                <input id="menu-toggle" type="checkbox"/>
                <label
                        class="menu-button-container"
                        for="menu-toggle"
                >
                    <div class="menu-button"></div>
                </label>
            </div>
            <ul class="nav">
                <li>
                    <a href="{% url 'index' %}"><span>START</span></a>
                </li>
                <li class="UBER">
                    <a href=""><span class="select_in_nav">ABOUT ▼</span></a>
                    <ul class="sub_nav_select">
                        <li><a href="{% url 'about_us' %}">ABOUT ME</a></li>
                        <li><a href="{% url 'about_kg' %}">ABOUT KYRGYZSTAN</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'direction' %}"><span>DESTINATIONS</span></a>
                </li>
                <li>
                    <a href="{% url 'gallery' %}"><span>GALLERY</span></a>
                </li>
                <li>
                    <a href="{% url 'blocks' %}"><span>BLOG</span></a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"><span>CONTACT</span></a>
                </li>
            </ul>
            <button class="emailButton">EMAIL</button>
        </header>
        <div class="bg_burger">
            <div class="container mobile_menu_container">
                <ul class="mobile_nav">
                    <li><a href="{% url 'index' %}">START</a></li>
                    <li>
                        <div class="uber_select">
                            <span>ABOUT </span>
                            <label style="display: inline-block;">
                                <input class="inpF" type="checkbox"/>
                                <div class="f"></div>
                            </label>
                        </div>
                        <ul class="sub_nav">
                            <li class="li"><a href="{% url 'about_us' %}">ABOUT ME</a></li>
                            <li><a href="{% url 'about_kg' %}">ABOUT KYRGYZSTAN</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'direction' %}">DESTINATIONS</a></li>
                    <li><a href="{% url 'gallery' %}">GALLERY</a></li>
                    <li>BLOG</li>
                    <li><a href="{% url 'contact' %}">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="firstSlider">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="firstSliderPhotoOne">
                        <img style="object-fit: cover; width: 100% "
                             src="../static/images/photo_2022-03-15_19-26-00.jpg">
                    </div>

                    <div class="firstSliderAnimations">
                        <div class="wrap">
                            <div class="word">
                                <hr/>
                                <h>i am talant azemov - director gmbh edelweiss touristik</h>
                            </div>
                            <div class="containerTwo">
                                <div class="transformTwo  rotateXTwo">

                                    <h3>
                                        <span>m</span><span>y</span>&nbsp;<span>n</span><span>a</span><span>m</span><span>e</span>&nbsp;<span>i</span><span>s</span>&nbsp;<span>t</span><span>a</span><span>l</span><span>a</span><span>n</span><span>t</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="containerThree">
                                <div class="transformThree  rotateXThree">
                                    <h4>
                                        <span>y</span><span>o</span><span>u</span><span>r</span>&nbsp;<span>p</span><span>e</span><span>r</span><span>s</span><span>o</span><span>n</span><span>a</span><span>l</span>&nbsp;<span>t</span><span>o</span><span>u</span><span>r</span>&nbsp;<br/><span>g</span><span>u</span><span>i</span><span>d</span><span>e</span>&nbsp;<span>t</span><span>h</span><span>r</span><span>o</span><span>u</span><span>g</span><span>h</span>&nbsp;<span>k</span><span>y</span><span>r</span><span>g</span><span>y</span><span>z</span><span>s</span><span>t</span><span>a</span><span>n</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="firstSlidePhotoTwo">
                        <img src="../static/images/Kyrgyzstan-canyons.jpg">
                    </div>
                    <div class="firstSliderAnimations">
                        <div class="wrap">
                            <div class="wordTwo">
                                <hr/>
                                <h>i am talant azemov - director gmbh edelweiss touristik</h>
                            </div>
                            <div class="containerFour">
                                <div class="transformFour  rotateXFour">
                                    <h3><span>i</span>&nbsp;<span>s</span><span>h</span><span>o</span><span>w</span>&nbsp;<span>y</span><span>o</span><span>u</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="containerFive">
                                <div class="transformFive  rotateXFive">
                                    <h4>
                                        <span>t</span><span>h</span><span>e</span>&nbsp;<span>m</span><span>o</span><span>s</span><span>t</span>&nbsp;<span>a</span><span>m</span><span>a</span><span>z</span><span>i</span><span>n</span><span>g</span>&nbsp;<span>a</span><span>n</span><span>d</span>&nbsp;<br/><span>b</span><span>e</span><span>a</span><span>u</span><span>t</span><span>i</span><span>f</span><span>u</span><span>l</span>&nbsp;<span>p</span><span>l</span><span>a</span><span>c</span><span>e</span>&nbsp;<span>k</span><span>y</span><span>r</span><span>g</span><span>y</span><span>z</span><span>s</span><span>t</span><span>a</span><span>n</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

    {% for main in index %}
        <div class="individual">
            <div class="individual-left">
                {#            <h1>KYRGYSTAN <span>TRAVEL</span></h1>#}
                <h1>{{ main.title | safe }}</h1>
            </div>
        </div>
        {{ main.text | safe }}
    {% endfor %}
    <div class="individual">
        <div class="individual-right">
            <a href="{% url 'direction' %}">destinations</a>
        </div>
    </div>
    <div class="secondSlider">
        <div class="secondSliderText">
            <hr/>
            <h2>WHAT SHOULD I DO</h2>
        </div>
        <div class="swiper2">
            <div class="swiper-wrapper">
                {% for slider in slider1 %}
                    <div class="swiper-slide">
                        <div>
                            <a href="{% url 'detail_w' slider.pk %}"><img src="{{ slider.icon.url }}"></a>
                            <a style="text-decoration: none;" href="{% url 'detail_w' slider.pk %}">
                                <h3>{{ slider.title }}</h3></a>
                            <p>{{ slider.description |safe | slice:"150" }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="swiper-pagination2"></div>
        </div>
        <div class="swiper7">
            <div class="swiper-wrapper">
                {% for slider in slider1 %}
                    <div class="swiper-slide">
                        <div>
                            <a href="{% url 'detail_w' slider.pk %}"><img src="{{ slider.icon.url }}"></a>
                            <a style="text-decoration: none;" href="{% url 'detail_w' slider.pk %}">
                                <h3>{{ slider.title }}</h3></a>
                            <p>{{ slider.description |safe | slice:"150" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination2"></div>
        </div>
        <div class="swiper12">
            <div class="swiper-wrapper">
                {% for slider in slider1 %}
                    <div class="swiper-slide">
                        <div>
                            <a href="{% url 'detail_w' slider.pk %}"><img src="{{ slider.icon.url }}"></a>
                            <a style="text-decoration: none;" href="{% url 'detail_w' slider.pk %}">
                                <h3>{{ slider.title }}</h3></a>
                            <p>{{ slider.description |safe | slice:"150" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination2"></div>
        </div>

    </div>
    <div class="thirdSlider">
        <div class="swiper3">
            <div class="swiper-wrapper">
                {% for dir in birection %}
                    <div class="swiper-slide">
                        <div class="thirdSliderBox">
                            <img src="{{ dir.img.url }}">
                        </div>
                        <div class="thirdSliderText">
                            <a  style="text-decoration: none;" href="{% url 'directions' dir.pk %}"><h3>{{ dir.title }}</h3></a>
                            <p>{{ dir.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper8">
            <div class="swiper-wrapper">
                {% for dir in birection %}
                    <div class="swiper-slide">
                        <div class="thirdSliderBox">
                            <img src="{{ dir.img.url }}">
                        </div>
                        <div class="thirdSliderText">
                            <a style="text-decoration: none;" href="{% url 'directions' dir.pk %}">
                                <h3>{{ dir.title }}</h3></a>
                            <p>{{ dir.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper13">
            <div class="swiper-wrapper">
                {% for dir in birection %}
                    <div class="swiper-slide">
                        <div class="thirdSliderBox">
                            <img src="{{ dir.img.url }}">
                        </div>
                        <div class="thirdSliderText">
                            <a style="text-decoration: none;" href="{% url 'directions' dir.pk %}">
                                <h3>{{ dir.title }}</h3></a>
                            <p>{{ dir.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="anytime">
        <div class="anytimeImg">
            <img src="" alt=""/>
        </div>
        <div class="anytimeText">
            <div class="anytimeTextHr">
                <h2>contact us</h2>
                <hr/>
            </div>
            {% for contact in contact%}
            <div class="anytimeTextTwo">
                <h3>{{ contact.title |safe }}</h3>
                <p>{{ contact.text| safe }}</p>

            </div>
            {% endfor %}
            <button>send e-mail</button>
        </div>

    </div>
    </body>
{% endblock %}
{% block scripts %}

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static  'js/burger.js' %}"></script>
{% endblock %}