@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Lato&family=Mochiy+Pop+P+One&family=Montserrat:wght@400;600;800;900&family=Open+Sans&family=Orbitron&family=Poppins:wght@300;400&family=Rubik:wght@300&display=swap');
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* FONTS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
}
/* HEADER */
header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 177px;
	height: 60px;
}

.header_burger {
	display: none;
}
button {
	background-color: rgb(255, 255, 255);
	font-weight: 400;
	border: 1px solid #6ec1e4;
	border-radius: 3px;
	color: #4054b2;
	font-size: 12px;
	letter-spacing: 0.2em;
	width: 84px;
	height: 39px;
}
button:hover {
	transition: all 0.2s ease-in-out;
	background-color: #4fb5eb;
	color: white;
}
.nav {
	width: 641px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}
.nav > li {
	list-style: none;
	text-decoration: none;
}
.nav li a {
	padding: 22px 1px;
	height: 50px;
	color: #31609f;
	text-decoration: none;
	letter-spacing: 0.2em;
	transition: 0.1s;
}
.nav li a:hover {
	color: #4fb5eb;
	border-bottom: 4px solid #4fb5eb;
}
.bg_burger {
	background-color: rgba(49, 96, 159, 1);
	width: 100%;
	animation: yes ease-in-out 0.4s;
	display: none;
}
@keyframes yes {
	0% {
		opacity: 0;
		height: 0px;
	}
	100% {
		opacity: 1;
		height: 230px;
	}
}
.burger_no {
	animation: no ease-in-out 0.3s;
}
@keyframes no {
	0% {
		opacity: 1;
		height: 230px;
	}
	100% {
		opacity: 0;
		height: 0px;
	}
}
.sub_nav_select {
    display: none;
    border-top: 4px solid #4fb5eb;
	width: 260px;
	background-color: #31609f;
	padding: 7px 25px;
    position: absolute;
    color: gainsboro;
    transform: translateY(23px);
    animation: select_nav ease-in 0.15s;
}
@keyframes select_nav{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sub_nav_select .li {
    cursor: pointer;
	list-style: none;
	width: 90%;
	height: 50px;
	padding: 17px;
	border-bottom: 1px solid rgb(136, 136, 146);
}
.sub_nav_select .li2{
    list-style: none;
    cursor: pointer;
	width: 90%;
	height: 50px;
	padding: 17px;
}
.sub_nav_select li:hover{
    color: white;
}
/* menu */
.mobile_menu_container {
	width: 1200px;
	margin: 0 auto;
	color: #b9c8e9;
	padding: 20px 40px;
}
.mobile_nav {
	list-style: none;
	letter-spacing: 0.1em;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}
.mobile_nav li {
	line-height: 260%;
}
.sub_nav {
	list-style: none;
	margin-left: 15px;
	display: none;
	animation: yes_sub_nav ease-in-out 0.3s;
}
@keyframes yes_sub_nav {
	0% {
		opacity: 0;
		height: 0px;
	}
	100% {
		opacity: 1;
		height: 54px;
	}
}
.sub_li {
	height: 30px;
}
.sub_nav_no {
	animation: sub_nav_no ease 0.3s;
}
@keyframes sub_nav_no {
	0% {
		opacity: 1;
		height: 54px;
	}
	100% {
		opacity: 0;
		height: 0px;
	}
}
.inpF {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
}
.f {
	position: absolute;
	transform: translateY(-23px);
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid rgb(179, 178, 178);
	border-bottom: 5px solid transparent;
	transition: 0.3s;
}
.inpF:checked + .f {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid rgb(179, 178, 178);
}
.uber_select {
	display: flex;
	justify-content: space-between;
}
.select_icon {
	width: 100px;
	height: auto;
	border: none;
	background-color: transparent;
	transform: rotate(-90deg);
	transition: 0.4s;
}
.select_icon:focus {
	transform: rotate(-180deg);
	border: none;
}
/* menu ended */
/* burger */
/* burger ended */
/* Header Adaptive layout */
#menu-toggle {
	display: none;
    position: absolute;
    transform: translateY(-20px);
    width: 40px;
    height: 40px;

}
.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: rgb(55, 62, 126);
	position: absolute;
	height: 2px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}
.menu-button::before {
	content: '';
	margin-top: -8px;
}
.menu-button::after {
	content: '';
	margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

.img_blockpost {
	width: 100%;
	margin-bottom: 30px;
}
.zogolovok a {
	color: #31609f;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.3px;
	transition: 0.4s;
	cursor: pointer;
	text-decoration: none;
}
.zogolovok {
	margin-bottom: 30px;
}
.zogolovok a:hover {
	color: rgb(122, 122, 247);
}
.text {
	color: #5a80b1;
	font-size: 19px;
	letter-spacing: 1.3px;
	margin-bottom: 30px;
	font-family: 'Lato';
}
.btn {
	border: none;
	background: transparent;
	font-size: 20px;
	color: rgb(122, 122, 247);
	margin-bottom: 40px;
}
.btn a {
	color: rgb(122, 122, 247);
	font-size: 17px;
	text-decoration: none;
	transition: 0.4s;
	margin-right: 5px;
}
.btn a:hover {
	color: rgb(80, 99, 150);
	margin-right: 20px;
}

.bg_footer {
	background-color: #1f3d66;
}
.footer-block {
	padding: 70px 0;
}

.footer_display {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.logo {
	width: 190px;
}
.block_for_footer_text {
	width: 250px;
}
.block_for_footer_text > p {
	color: #7fb5de;
	margin-bottom: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.9em;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.2em;
	color: white;
	margin-bottom: 20px;
}
.under_footer_back {
	background-color: #1c375c;
}
.webdesign {
	color: #4cb8e0;
	font-size: 14px;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
.icon_you_tube {
	content: url(./assest//youtube-logotype.png);
	transition: 0.4s;
}
.icon_whats_app {
	content: url(./assest/whatsapp.png);
	transition: 0.4s;
}
.icon_facebook {
	content: url(./assest/facebook-app-symbol.png);
	transition: 0.4s;
}
.icon_you_tube:hover,
.icon_whats_app:hover,
.icon_facebook:hover {
	opacity: 0.5;
}
.icons {
	width: 24px;
	margin-right: 12px;
	text-decoration: none;
}

.pagination {
	/* display: inline-block; */
	margin-bottom: 60px;
}

.pagination a {
	color: rgba(49, 96, 159, 0.5);
	float: left;
	padding: 15px 22px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	background: rgb(240, 240, 240);
	margin-left: 3px;
	opacity: 0.8;
	transition: 0.4s;
}

.pagination a.active {
	background-color: #4cb8e0;
	color: white;
}

.pagination a:hover:not(.active) {
	opacity: 1;
	color: #0e2341;
}
